Media.css
@media only screen and (max-width: 600px) {
 .banner {
 display: inline;
 text-align: center;
 }
 .banner h1 {
 width: 100%;
 text-align: center;
 }
 .banner img {
 width: 80%;
 }
 .artikel {
 display: inline;
 }
 .galery {
 display: inline;
 }
 .isi-galery {
 justify-content: center;
 }
 .nama-galery {
 width: 420px;
 margin-left: 30px;
 }
 .kontak {
 display: inline;
 }
 .container {
 width: 95%;
 }
 .card {
 justify-content: centers;
 }
 .gambar {
 display: block;
 width: 420px;
 height: auto;
 margin-left: 30px;
 }
 .footer .footer-tengah {
 text-align: center;
 }
 .footer .footer-tengah p.footer-links {
 line-height: 1.8;
 }
}

@media (min-width: 600px) {
 .header li {
 float: left;
 }
 .header li a {
 padding: 20px 30px;
 }
  
 .header .menu {
 clear: none;
 float: right;
 max-height: none;
 }
  
 .header .menu-icon {
 display: none;
 }
 .footer .footer-tengah {
 text-align: center;
 }
 .footer .footer-tengah p.footer-links {
 line-height: 1.8;
 }
} 
